{% macro mqtt_controls(device_id, mqtt_topics, last_values, show_mqtt) %}
{% if show_mqtt %}
<div class="mb-4">
    <h4>MQTT Controls</h4>
    {% for topic in mqtt_topics %}
        <div class="mb-3 mqtt-topic" data-topic="{{ topic.name }}">
            <h5>{{ topic.name }}</h5>
            {% for key in topic.keys %}
                {% set value = last_values.get(topic.name, {}).get(key.key_name, '') %}
                <div class="mb-2">
                    {% if key.value_type in ['float', 'int'] %}
                        <label for="{{ topic.name }}_{{ key.key_name }}">{{ key.key_name }}:</label>
                        {% if key.min_value is not none and key.max_value is not none %}
                            <input type="range"
                                   id="{{ topic.name }}_{{ key.key_name }}_slider"
                                   min="{{ key.min_value }}"
                                   max="{{ key.max_value }}"
                                   step="{{ 0.01 if key.value_type == 'float' else 1 }}"
                                   value="{{ value }}"
                                   class="mqtt-slider"
                                   data-key="{{ key.key_name }}">
                        {% endif %}
                        <input type="number"
                               id="{{ topic.name }}_{{ key.key_name }}_input"
                               {% if key.min_value is not none %} min="{{ key.min_value }}" {% endif %}
                               {% if key.max_value is not none %} max="{{ key.max_value }}" {% endif %}
                               step="{{ 0.01 if key.value_type == 'float' else 1 }}"
                               value="{{ value }}"
                               class="mqtt-input"
                               data-key="{{ key.key_name }}">
                    {% elif key.value_type == 'enum' %}
                        <label for="{{ topic.name }}_{{ key.key_name }}">{{ key.key_name }}:</label>
                        <select id="{{ topic.name }}_{{ key.key_name }}"
                                class="mqtt-select"
                                data-key="{{ key.key_name }}">
                            {% for option in key.enum_values %}
                                <option value="{{ option }}" {% if option == value %}selected{% endif %}>
                                    {{ option }}
                                </option>
                            {% endfor %}
                        </select>
                    {% elif key.value_type == 'bool' %}
                        <label>
                            <input type="checkbox"
                                   id="{{ topic.name }}_{{ key.key_name }}"
                                   class="mqtt-checkbox"
                                   data-key="{{ key.key_name }}"
                                   {% if value %}checked{% endif %}>
                            {{ key.key_name }}
                        </label>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endif %}
{% endmacro %}
