<!DOCTYPE html>
<html>
<head>
    <title>Devices</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}">
</head>
<body>
    <h1>Registered Devices</h1>

    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Connection</th>
            <th>Current State</th>
            <th>Requested State</th>
        </tr>
        {% for d in devices %}
        <tr>
            <td>{{ d.id }}</td>
            <td>{{ d.name }}</td>
            <td>{{ d.last_seen }}</td>
            <td>
                {% if d.current_state %}
                    <a href="{{ url_for('change_state_view', device_id=d.id) }}">{{ d.current_state }}</a>
                {% else %}
                    --
                {% endif %}
            </td>
            <td>
                {% if d.requested_state %}
                    {{ d.requested_state }}
                {% else %}
                    --
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="{{ url_for('index') }}">Back to index</a></p>
    <p><a href="{{ url_for('visualize') }}">Visualize Reported Data</a></p>
</body>
</html>
