{% from '_header.html' import header %}
{% from '_footer.html' import footer %}
{{ header(current_user=current_user, is_admin=is_admin, page_title="Home") }}
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Welcome to the Server</h1>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                {% if not logged_in %}
                    <a href="{{ url_for('login') }}" class="btn btn-primary w-100 mb-3">Login</a>
                {% else %}
                    <a href="{{ url_for('devices') }}" class="btn btn-success w-100 mb-3">Device List</a>
                    <a href="{{ url_for('visualize') }}" class="btn btn-info w-100 mb-3">Visualize Reported Data</a>
                    {% if is_admin %}
                        <a href="{{ url_for('user.list') }}" class="btn btn-warning w-100 mb-3">User List</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{{ footer(version=version, git_url=git_url) }}
